.badgedd{
    /* padding: 0 3px;
    background-color: #5C3996;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -70px;
    right: -50px;
    width: 0.7rem; */
}