<div class="container">
    
    <div class="form form--signup">
      <div class="form--heading">ADD PRODUCTS</div>
      <form  (ngSubmit)="uploadData()">
       
    <input type="text" placeholder="CategoryId" name="CategoryId" [(ngModel)]="formdata.CategoryId">
    <input type="text" placeholder="Name" name="Name" [(ngModel)]="formdata.Name">
    <input type="text" placeholder="Description" name="Description" [(ngModel)]="formdata.Description">
    <input type="text" placeholder="Price" name="price" [(ngModel)]="formdata.price">
    <input type="text" placeholder="Quantity" name="quantity" [(ngModel)]="formdata.quantity">
    <input type="file" placeholder="UploadImage" (change)="uploadFile($event)" >

        <button class="buttonn" type="submit" >SUBMIT</button>
      </form>
    </div>
  
  </div>